<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>菘蓝云健康</title>
    <meta content="菘蓝云健康" name="description">
    <meta content="菘蓝云健康" name="keywords">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }

        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>

<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>健康管理
            <small>体检报告管理</small>
        </h1>
        <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>健康管理</el-breadcrumb-item>
            <el-breadcrumb-item>体检报告管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-date-picker
                        v-model="pagination.queryDate"
                        end-placeholder="结束日期"
                        range-separator="至"
                        start-placeholder="开始日期"
                        type="daterange"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
                <el-select v-model="pagination.queryOrderStatus" placeholder="是否到诊">
                    <el-option
                            v-for="item in statusOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>

                <el-input v-model="pagination.queryString" class="filter-item" placeholder="会员姓名/手机号"
                          style="width: 200px;" @keyup.enter.native="handleFilter"></el-input>
                <el-button v-if="permission.ORDER_QUERY" class="butT" type="primary" @click="findPage()">查询</el-button>
                <el-button v-if="permission.ORDER_QUERY" class="butT" type="primary" @click="clearCondition()">清除
                </el-button>
            </div>
            <el-table :data="dataList" current-row-key="id" highlight-current-row size="small" stripe>
                <el-table-column align="center" label="序号" type="index"></el-table-column>
                <el-table-column align="center" label="会员姓名" prop="orderName"></el-table-column>
                <el-table-column align="center" label="电话号码" prop="telephone"></el-table-column>
                <el-table-column align="center" label="预约日期" prop="orderDate"></el-table-column>
                <el-table-column align="center" label="预约状态">
                    <template slot-scope="scope">
                        <el-switch
                                v-model="dataList[scope.$index].orderStatus"
                                :inactive-text="showName(dataList[scope.$index].orderStatus)"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                style="display: block"
                                @change="statusEdit(scope.row)"
                        >
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="套餐名称" prop="setmealName">
                </el-table-column>
                <el-table-column align="center" label="操作">
                    <template slot-scope="scope">
                        <el-button v-if="permission.HEALTH_ADD" id="edit" size="mini" type="primary"
                                   @click="handleAdvice(scope.row)">更新
                        </el-button>
                        <el-button v-if="permission.HEALTH_LOOK" size="mini" type="danger"
                                   @click="handUpdate(scope.row)">查看
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        :current-page.sync="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        :total="pagination.total"
                        class="pagiantion"
                        layout="total, prev, pager, next, jumper"
                        @current-change="handleCurrentChange">
                </el-pagination>
            </div>
            <!--更新 标签弹层-->
            <div class="add-form">
                <el-dialog :visible.sync="dialogFormVisible" title="更新体检报告">
                    <template>
                        <el-tabs type="border-card" :stretch="true" v-model="tabName" @tab-click="tabClick">
                            <el-tab-pane v-for="(checkGroup, index) in checkNames" :key="index"
                                         :label="checkGroup.checkGroupName" :laze="true" :name="''+index">
                                <el-form>
                                    <el-form-item v-for="(value, checkItemName, index2) in checkGroup" :key="index2"
                                                  v-if="checkItemName !== 'checkGroupName'" :label="checkItemName">
                                        <el-input v-model.lazy="checkItemValue[index][index2]" :placeholder="value"
                                                  type="textarea" :autosize="true" :clearable="true"
                                                  :change="change(index, index2, checkItemName)"></el-input>
                                    </el-form-item>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <div class="add-form">
                <el-dialog :visible.sync="dialogFormVisible4Edit" title="查看体检报告">
                    <template>
                        <el-tabs type="border-card" :stretch="true" v-model="tabName">
                            <el-tab-pane v-for="(checkGroup, index) in checkNames" :key="index"
                                         :label="checkGroup.checkGroupName" :laze="true" :name="''+index">
                                <el-descriptions :border="true" :column="1" size="small">
                                    <el-descriptions-item v-for="(value, checkItemName, index2) in checkGroup"
                                                          :key="index2" v-if="checkItemName !== 'checkGroupName'"
                                                          :label="checkItemName">
                                        {{ value }}
                                    </el-descriptions-item>
                                </el-descriptions>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">返回</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            permission: {},
            statusOptions: [{
                value: '未到诊',
                label: '未到诊'
            }, {
                value: '已到诊',
                label: '已到诊'
            }],
            pagination: {//分页相关属性
                queryDate: [],
                queryOrderType: null,
                queryOrderStatus: null,
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据,状态使用
            tabName: '0',
            checkNames: [],
            checkItemValue: [[]],
            checkReport: [],
            dialogFormVisible: false,
            dialogFormVisible4Edit: false,
            tempOrderId: ""//临时存储订单id
        },
        //钩子函数
        created() {
            //发送ajax请求向后端获取到该用户拥有的权限
            axios.post("/permissionserver/findAllPermission").then((res) => {
                this.permission = res.data;
            });
            this.findPage();
        },

        methods: {
            // 弹出更新窗口
            handleAdvice(row) {
                this.tempOrderId = row.id;//获取预约表中的id值
                if (!row.orderStatus) {//判断预约状态 未到诊不能进行干预
                    this.dialogFormVisible = false;
                    this.$message.error("该会员未到诊，不能更新体检报告");
                    return;
                }
                this.checkNames = [];
                this.checkReport = [];
                axios.get("/order/findCheckReportByOrderId/" + row.id).then(res => {
                    if (res.data.flag) {
                        this.checkNames = res.data.data;
                        this.checkReport = JSON.parse(JSON.stringify(this.checkNames));
                        this.resetCheckItemValue();
                    } else {
                        axios.get("/order/findAllCheckBySetMealId/" + row.setmealId).then(res => {
                            this.checkNames = res.data.data;
                            this.checkReport = JSON.parse(JSON.stringify(this.checkNames));
                            this.resetCheckItemValue();
                        });
                    }
                });
                this.tabName = '0';
                this.dialogFormVisible = true;//显示更新页面
            },
            change(index, index2, checkItemName) {
                if (this.checkReport[index] !== undefined && this.checkItemValue[index] !== undefined && this.checkItemValue[index][index2] !== undefined) {
                    console.log(this.checkReport[index]);
                    console.log(this.checkItemValue[index][index2]);
                    this.$set(this.checkReport[index], checkItemName, this.checkItemValue[index][index2]);
                }
            },
            tabClick(tab, event) {
                console.log("tabClick");
                this.checkNames = JSON.parse(JSON.stringify(this.checkReport));
                this.tabName = tab.name;
            },
            //更新体检报告
            handleAdd() {
                axios.post("/order/updateCheckReport/" + this.tempOrderId, this.checkReport).then(res => {
                    if (res.data.flag) {
                        this.$message.success(res.data.message);
                    } else {
                        this.$message().error(res.data.message);
                    }
                }).finally(() => { //因为axios是异步请求,必须放在finally中
                    this.dialogFormVisible = false;
                    this.findPage();
                });
            },
            //查看体检报告
            handUpdate(row) {
                if (!row.orderStatus) {
                    this.dialogFormVisible = false;
                    this.$message.error("该会员未到诊，不能查看");
                    return;
                }
                this.checkNames = [];
                this.checkReport = [];
                axios.get("/order/findCheckReportByOrderId/" + row.id).then(res => {
                    if (res.data.flag) {
                        this.checkNames = res.data.data;
                        this.checkReport = JSON.parse(JSON.stringify(this.checkNames));
                        this.resetCheckItemValue();
                    } else {
                        axios.get("/order/findAllCheckBySetMealId/" + row.setmealId).then(res => {
                            this.checkNames = res.data.data;
                            this.checkReport = JSON.parse(JSON.stringify(this.checkNames));
                            this.resetCheckItemValue();
                        });
                    }
                });
                this.tabName = '0';
                this.dialogFormVisible4Edit = true;//显示页面
            },
            //查询条件清除
            clearCondition() {
                this.pagination.queryString = null;
                this.pagination.queryOrderStatus = null;
                this.pagination.queryOrderType = null;
                this.pagination.queryDate = null;
                this.findPage();
            },
            //编辑 到诊状态
            statusEdit(row) {
                if (row.orderStatus) {
                    statue = 0;
                } else {
                    statue = 1;
                }
                axios.post("/booking/statusEdit/" + statue + "/" + row.id).then(res => {
                    if (res.data.flag) {
                        //编辑预约状态成功提示
                        this.$message.success(res.data.message);
                        //查询页面
                        this.findPage()
                    }
                })
            },
            showName(orderStatus) {
                return orderStatus ? "已到诊" : "未到诊";
            },
            //分页查询
            findPage() {
                //发送ajax请求,给dataList写回数据
                axios.post("/order/findByPageAndCondition", this.pagination).then(res => {
                    if (res.data.flag) {
                        //数据给dataList
                        this.dataList = res.data.data.rows;
                        //对dataList中的预约状态对应转化为true false
                        for (var i = 0; i < this.dataList.length; i++) {
                            this.dataList[i].orderStatus = this.dataList[i].orderStatus !== "未到诊";
                        }
                        //数据总数给pagination
                        this.pagination.total = res.data.data.total;
                    } else {
                        //查询数据错误提示
                        this.$message.error(res.data.message)
                    }
                });
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            resetCheckItemValue() {
                this.checkItemValue = [];
                for (let i = 0; i < this.checkReport.length; i++) {
                    this.checkItemValue.push([]);
                }
            }
        }
    });
</script>
</html>