<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>菘蓝云健康</title>
    <meta content="菘蓝云健康" name="description">
    <meta content="菘蓝云健康" name="keywords">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
        .el-main {
            position: absolute;
            top: 70px;
            bottom: 0px;
            left: 200px;
            right: 10px;
            padding: 0;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top">
                <!-- Logo -->
                <a class="logo" href="#" style="text-align:center">
                    <span class="logo-lg"><img src="../img/loginLogo.png"></span>
                </a>
                <div class="right-menu">
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <img class="user-avatar" src="../img/user2-160x160.jpg">
                            {{ username }}
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>
                                <span style="display:block;">
                                    <button style="border: white;background: white;font-size: 15px;"
                                            @click="changePassword()">
                                        修改密码
                                    </button>
                                </span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <span style="display:block;">
                                    <button style="border: white;background: white;font-size: 15px;" @click="logout()">
                                        退出
                                    </button>
                                </span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-submenu v-for="menu in menuList" :index="menu.path">
                        <template slot="title">
                            <i :class="menu.icon" class="fa"></i>
                            {{ menu.name }}
                        </template>
                        <template v-for="child in menu.children">
                            <el-menu-item :index="child.path">
                                <a :href="child.linkUrl" target="right">{{ child.name }}</a>
                            </el-menu-item>
                        </template>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <iframe class="el-main" width="1319px" height="100%"  frameborder="0"
                        :src="menuList[0].children[0].linkUrl" name="right"></iframe>
            </el-container>
        </el-container>
    </el-container>

    <!-- 修改密码 -->
    <div class="add-form">
        <el-dialog :visible.sync="dialogFormVisible" title="修改密码">
            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                     label-width="70px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="新密码" prop="password">
                            <el-input v-model="formData.password"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="12">
                        <el-form-item label="确认密码" prop="senPassword">
                            <el-input v-model="formData.senPassword"/>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="handleChangePassword()">确定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            dialogFormVisible: false,//控制修改密码弹框是否显示
            formData: {},//修改密码 两次输入框的表单
            //校验规则
            rules: {
                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'},
                    {min: 6, message: '密码最少需要6位', trigger: 'blur'}
                ],
                senPassword: [
                    {required: true, message: '请输入密码', trigger: 'change'},
                    {min: 6, message: '密码最少需要6位', trigger: 'blur'}
                ],
            },
            username: '',//当前登录用户的用户名
            menuList: []
        },
        mounted() {
            //发送ajax请求，请求Controller获取当前登录用户的用户名，展示到页面中
            axios.get("/user/getUsername").then((res) => {
                if (res.data.flag) {
                    this.username = res.data.data;
                }
            });

            axios.get("/user/getAllMenus").then((res) => {
                if (res.data.flag) {
                    this.menuList = res.data.data;
                }
            });
        },
        methods: {
            //弹出修改密码的弹框
            changePassword() {
                //重置表单
                this.formData = {};
                //弹框可见
                this.dialogFormVisible = true;
            },

            //点击确认修改的操作
            handleChangePassword() {
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        //点击确定,通过校验规则
                        axios.post("/user/changePassword", this.formData).then((res) => {
                            if (res.data.flag) {
                                this.$message({
                                    type: 'success',
                                    message: res.data.message
                                });

                                //登出
                                window.location.href = "/login.html";
                            } else {
                                this.$message.error(res.data.message);
                            }
                        }).finally(() => {
                            this.findPage();
                            this.dialogFormVisible4Edit = false;
                        })
                    } else {
                        this.$message.error("密码格式不正确");
                    }

                    //清空校验规则
                    this.$refs['dataAddForm'].clearValidate();
                });
            },

            //退出操作
            logout() {
                axios.post("/user/quit").then((res) => {
                    window.location.href = "/login.html";
                })
            },
        },
    });
    $(function () {
        var wd = 200;
        $(".el-main").css('width', $('body').width() - wd + 'px');
    });
</script>
</html>
